body nav {
    padding-inline: 1em;
}

article.blog-post img.cover {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 1em;
}

.blog-post-card {
    text-decoration: none;
}

#nav-title a {
    color: initial;
    text-decoration: none;
}

#nav-title a:hover {
    color: initial;
}
